---
layout: page
title: Tagy
permalink: /tagy/
---

<div class="tags-expo">
    <div class="tags-expo-list">
        {% for tag in site.tags %}
        <a href="#{{ tag[0] | slugify }}" class="post-tag">#{{ tag[0] }}  </a>
        {% endfor %}
    </div>
    <hr/>
    <div class="tags-expo-section">
        {% for tag in site.tags %}
        <h3 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h3>
        <ul>
        {% for post in tag[1] %}
            <li>
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                <small>{{ post.date | date_to_string }}</small>
            </li>
        {% endfor %}
        </ul>
        {% endfor %}
    </div>
</div>